@{
    ViewBag.Title = "第三方收单统计";
}

@section Style{
    @Styles.Render("~/style/form")
}
<div class="page-where tendencyWhere" style="margin-top: 10px;">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-select" value="8" onclick=" growUpwhereTimeButtonClick(this) ">7天</button>
        <button type="button" class="btn btn-default" value="16" onclick=" growUpwhereTimeButtonClick(this) ">15天</button>
        <button type="button" class="btn btn-default" value="31" onclick=" growUpwhereTimeButtonClick(this) ">30天</button>
        <button type="button" class="btn btn-default" value="91" onclick=" growUpwhereTimeButtonClick(this) ">三个月</button>
        <button type="button" class="btn btn-default" value="other" onclick=" growUpwhereTimeButtonClick(this) ">其他时间</button>
    </div>
    <div class="btn-group page-where-othertime" style="display: none;">
        <button type="button" value="return" class="btn btn-default border-right0" onclick=" growUpwhereTimeButtonClick(this) ">返回</button>
        <div class="page-where-time-input">
            <div class="input-daterange input-group">
                <input type="text" placeholder="开始时间" class="input-sm form-control" name="start" />
                <span class="input-group-addon">to</span>
                <input type="text" placeholder="结束时间" class="input-sm form-control" name="end" />
            </div>
        </div>
        <button type="button" value="select" class="btn btn-default btn-inquire" onclick=" GetData() ">查询</button>
    </div>
    <div class="page-where-right">
        <div class="checkbox check-success">
            <input type="checkbox" checked="checked" value="alipay" id="checkbox1">
            <label for="checkbox1">支付宝</label>
            <input type="checkbox" value="weixin" id="checkbox2">
            <label for="checkbox2">微信</label>                        
        </div>
    </div>
</div>
<div id="summaryAlipay" class="col-md-12 col-sm-12 col-xs-12" style="margin: 10px">

</div>

<div id="growUpflashcontenttd" class="chartDiv">

</div>

@section Scripts{
    @Scripts.Render("~/js/begin/form")
    <script src="~/Scripts/plugins/asset/echarts-all.js"></script>
    <script src="~/Scripts/Operation/Operation.js"></script>
    <script src="~/Scripts/plugins/summernote/js/summernote.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tendencyWhere .page-where-othertime .input-daterange').datepicker();

            GetAlipayJson();
            //GetAlipaySummary();

            $(".tendencyWhere .page-where-right input:checkbox").click(function () {
                GetAlipayJson();
            });

        });

        function GetData() {
            GetAlipayJson();
            //GetAlipaySummary();
        }

        function GetAlipayJson() {
            var url = "/ShopAlipay/GetAlipayChart";
            var postJson = {};

            var timeType = $(".tendencyWhere .btn-group .btn.btn-select").val();
            if (timeType == "other") {
                var statTime = $(".tendencyWhere .page-where-othertime input[name='start']").val();
                var endTime = $(".tendencyWhere .page-where-othertime input[name='end']").val();
                if (statTime.length > 0) {
                    postJson["stDate"] = statTime;
                }
                if (endTime.length > 0) {
                    postJson["edDate"] = endTime;
                }
            } else {
                var timeValue = $.timePeriod(0 - Number(timeType));
                postJson["stDate"] = timeValue.start.toLocaleDateString();
                postJson["edDate"] = timeValue.end.toLocaleDateString();
            }

            var columnList = $(".tendencyWhere .checkbox input:checkbox:checked");
            var column = new Array();
            $.each(columnList, function(i, n) {
                column.push(n.value);
            });
            if (column.length > 0) {
                postJson["columns"] = column.join(",");
                $.doAjax(url, postJson, function(msg) {

                    if (msg != "") {

                        var json = jQuery.parseJSON(msg);
                        var XLable = new Array();
                        var tbData = {};

                        var series = new Array();

                        option.title.text = json.captionTitle;
                        $.each(json.DataList, function(i, n) {

                            XLable.push(i);

                            $.each(n.ItemList, function(itemI, itemN) {
                                if (itemI == "loginNum") {
                                    loginNum.push(
                                    {
                                        "date": i,
                                        "value": Number(itemN.Values)
                                    });
                                } else if (itemI == "activeNum") {
                                    activeNum.push(
                                    {
                                        "date": i,
                                        "value": Number(itemN.Values)
                                    });
                                } else {
                                    var dataItemValue = {};
                                    //if (itemI == "acc_Rep") {
                                    //    if (n.weekend == 6 || n.weekend == 0) {
                                    //        dataItemValue = {
                                    //            value: Number(parseFloat(itemN.Values / n.ItemList.loginNum.Values).toFixed(2)),
                                    //            symbol: 'emptycircle',
                                    //            smooth: true,
                                    //            symbolSize: 2,
                                    //            itemStyle: {
                                    //                normal: {
                                    //                    color: 'red'
                                    //                }
                                    //            },
                                    //            showAllSymbol: true
                                    //        };
                                    //    } else {
                                    //        dataItemValue["value"] = Number(parseFloat(itemN.Values / n.ItemList.loginNum.Values).toFixed(2));
                                    //    }
                                    //} else {
                                    if (n.weekend == 6 || n.weekend == 0) {
                                        dataItemValue = {
                                            value: Number(itemN.Values),
                                            symbol: 'emptycircle',
                                            smooth: true,
                                            symbolSize: 2,
                                            itemStyle: {
                                                normal: {
                                                    color: 'red'
                                                }
                                            },
                                            showAllSymbol: true
                                        };
                                    } else {
                                        dataItemValue["value"] = Number(itemN.Values);
                                    }
                                    //}


                                    if (!tbData.hasOwnProperty(itemN.series)) {
                                        tbData[itemN.series] = new Array();
                                    }
                                    tbData[itemN.series].push(dataItemValue);
                                }

                            });

                        });
                        var legend = new Array();
                        $.each(tbData, function(i, n) {
                            var seriesItem = {
                                name: i + "数量",
                                type: 'line',
                                symbol: 'Circle',
                                smooth: true,
                                data: n,
                                markLine: { data: [{ type: "average", name: "平均值" }] }
                            }
                            series.push(seriesItem);
                            legend.push(seriesItem.name);
                        });

                        option.xAxis[0].data = XLable;
                        option.legend.data = legend;
                        option.series = series;
                        myChart.clear().setOption(option);
                    }
                }, true);
            }

        }

        function GetAlipaySummary() {
            var url = "/ShopAlipay/TendencySummary";
            var postJson = {};

            var timeType = $(".tendencyWhere .btn-group .btn.btn-select").val();
            if (timeType == "other") {
                var statTime = $(".tendencyWhere .page-where-othertime input[name='start']").val();
                var endTime = $(".tendencyWhere .page-where-othertime input[name='end']").val();
                if (statTime.length > 0) {
                    postJson["startTime"] = statTime;
                }
                if (endTime.length > 0) {
                    postJson["endTime"] = endTime;
                }
            } else {
                var timeValue = $.timePeriod(0 - Number(timeType));
                postJson["startTime"] = timeValue.start.toLocaleDateString();
                postJson["endTime"] = timeValue.end.toLocaleDateString();
            }

            var columnList = $(".tendencyWhere .checkbox input:checkbox:checked");
            var column = new Array();
            $.each(columnList, function(i, n) {
                column.push(n.value);
            });
            if (column.length > 0) {
                postJson["columns"] = column.join(",");
                $.doAjax(url, postJson, function(msg) {

                    if (msg != "") {

                        var json = jQuery.parseJSON(msg);
                        var html = "";

                        $.each(json, function(i, n) {
                            if (n.ColName.indexOf("用户") > 0) {

                            } else {
                                html += "<span class='fs-12 hint-text'>" + n.ColName + "：</span>";
                                if (parseInt(n.Ratio) > 0) {
                                    html += "<span class='text-success fs-12 m-r-14'>" + n.NowNum + "(<span class='text-danger fs-12 m-r-14'>" + n.Ratio + "%</span>)</span> ";
                                } else if (n.Ratio != "-999") {
                                    html += "<span class='text-success fs-12 m-r-14'>" + n.NowNum + "(" + n.Ratio + "%)</span> ";
                                } else {
                                    html += "<span class='text-success fs-12 m-r-14'>" + n.NowNum + "(暂无周增长数据)</span> ";
                                }

                            }

                        });

                        $("#summaryTendency").html(html);
                    }

                }, true);
            }
        }

        function growUpwhereTimeButtonClick(obj) {
            var value = obj.value;
            if (value == "return") {
                $(".tendencyWhere .btn-group").show().filter(".page-where-othertime").hide();
            } else {
                $(obj).parent().find(".btn-select").removeClass("btn-select");
                $(obj).addClass("btn-select");
                if (value == "other") {
                    $(".tendencyWhere .btn-group").hide().filter(".page-where-othertime").show();
                } else {
                    GetAlipayJson();
                    //GetTendencySummary();
                }
            }
        }


        var myChart = echarts.init(document.getElementById('growUpflashcontenttd'));

        var option = {
            color:
            [
                '#87cefa', '#ff7f50', '#da70d6', '#32cd32', '#6495ed',
                '#ff69b4', '#ba55d3', '#cd5c5c', '#ffa500', '#40e0d0',
                '#1e90ff', '#ff6347', '#7b68ee', '#00fa9a', '#ffd700',
                '#6b8e23', '#ff00ff', '#3cb371', '#b8860b', '#30e0e0'
            ],
            title: {
                text: '平台趋势',
                textAlign: "center",
                x: "center"
            },
            tooltip: {
                show: true,
                trigger: 'axis'
                //formatter: function (params) {
                //    console.log(params);
                //    var html = "";
                //    html += "" + params[1] + "</br>" + params[0] + ":" + Number(params[2]);
                //    //console.log(loginNum);
                //    //console.log(activeNum);
                //    //if (params[0] != "平均在线时长数量") {
                //    //    $.each(loginNum, function (i, n) {
                //    //        if (html.indexOf("登录用户") > 0) {
                //    //            return false;
                //    //        }
                //    //        if (n.date == params[1]) {
                //    //            if (n.value != 0) {
                //    //                html += "</br>登录用户：" + n.value + "(" + parseFloat(params[2] / n.value).toFixed(2) + ")";
                //    //            } else {
                //    //                html += "</br>登录用户：" + n.value + "(0%)";
                //    //            }

                //    //        }
                //    //    });
                //    //    $.each(activeNum, function (i, n) {
                //    //        if (html.indexOf("活跃用户") > 0) {
                //    //            return false;
                //    //        }
                //    //        if (n.date == params[1]) {
                //    //            if (n.value != 0) {
                //    //                html += "</br>活跃用户：" + n.value + "(" + parseFloat(params[2] / n.value).toFixed(2) + ")";
                //    //            } else {
                //    //                html += "</br>活跃用户：" + n.value + "(0%)";
                //    //            }
                //    //        }

                //    //    });
                //    //}
                //    return html;
                //}
            },
            legend: {
                data: [
                    '暂无数据'
                ],
                y: "bottom"
            },
            toolbox: {
                show: true,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            dataZoom: { show: true, realtime: true, y: 36, height: 20, start: 0, end: 100 },
            calculable: false,
            grid: { y: 60, y2: 70, x2: 20 },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    axisLine: { show: true }, //坐标轴线
                    axisTick: { show: true }, //坐标轴小标记
                    axisLabel: { show: true }, //坐标轴文本标签
                    splitArea: { show: false }, //分隔区域
                    splitLine: { show: true }, //分隔线
                    data: ['0', '0', '0', '0', '0', '0', '0']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '暂无数据',
                    type: 'line',
                    symbol: 'Circle',
                    data: [0, 0, 0, 0, 0, 0, 0]
                }
            ]
        };


        // 为echarts对象加载数据
        myChart.setOption(option);
    </script>
}










