
@{
    ViewBag.Title = "平台趋势";
}
@section Style{
    @Styles.Render("~/style/form")
}
<div class="page-where tendencyWhere" style="margin-top: 10px;">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-select" value="8" onclick=" growUpwhereTimeButtonClick(this) ">7天</button>
        <button type="button" class="btn btn-default" value="16" onclick=" growUpwhereTimeButtonClick(this) ">15天</button>
        <button type="button" class="btn btn-default" value="31" onclick=" growUpwhereTimeButtonClick(this) ">30天</button>
        <button type="button" class="btn btn-default" value="91" onclick=" growUpwhereTimeButtonClick(this) ">三个月</button>
        <button type="button" class="btn btn-default" value="other" onclick=" growUpwhereTimeButtonClick(this) ">其他时间</button>
    </div>
    <div class="btn-group page-where-othertime" style="display: none;">
        <button type="button" value="return" class="btn btn-default border-right0" onclick=" growUpwhereTimeButtonClick(this) ">返回</button>
        <div class="page-where-time-input">
            <div class="input-daterange input-group">
                <input type="text" placeholder="开始时间" class="input-sm form-control" name="start"/>
                <span class="input-group-addon">to</span>
                <input type="text" placeholder="结束时间" class="input-sm form-control" name="end"/>
            </div>
        </div>
        <button type="button" value="select" class="btn btn-default btn-inquire" onclick=" GetData() ">查询</button>
    </div>
    <div class="btn-group m-l-15">
        <a href="../SourceData" target="_blank">移动端数据</a>
    </div>
    <div class="page-where-right">
        <div class="checkbox check-success">
            <input type="checkbox" checked="checked" value="sell" id="checkbox1">
            <label for="checkbox1">销售</label>
            <input type="checkbox" value="shop" id="checkbox2">
            <label for="checkbox2">店铺</label>
            <input type="checkbox" value="client" id="checkbox3">
            <label for="checkbox3">客户端</label>
            <input type="checkbox" value="reg" id="checkbox4">
            <label for="checkbox4">会员</label>
            <input type="checkbox" value="sms" id="checkbox5">
            <label for="checkbox5">短信</label>
            <input type="checkbox" value="order" id="checkbox6">
            <label for="checkbox6">订单</label>
            <input type="checkbox" value="pay" id="checkbox7">
            <label for="checkbox7">支出</label>
            <input type="checkbox" value="mood" id="checkbox8">
            <label for="checkbox8">心情</label>
            <input type="checkbox" value="zhaixian" id="checkbox9">
            <label for="checkbox9">在线时长</label>
            <input type="checkbox" value="sale" id="checkbox10">
            <label for="checkbox10">销售额</label>
            <input type="checkbox" value="goods" id="checkbox11">
            <label for="checkbox11">商品</label>
        </div>
    </div>
</div>
<div id="summaryTendency" class="col-md-12 col-sm-12 col-xs-12" style="margin: 10px">

</div>

<div id="growUpflashcontenttd" class="chartDiv">

</div>
@section Scripts{
    @Scripts.Render("~/js/begin/form")
    <script src="~/Scripts/plugins/asset/echarts-all.js"></script>
    <script src="~/Scripts/Operation/Operation.js"></script>
    <script src="~/Scripts/plugins/summernote/js/summernote.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tendencyWhere .page-where-othertime .input-daterange').datepicker();

            $(".tendencyWhere .page-where-right input:checkbox").click(function() {
                GetTendencyJson();
                GetTendencySummary();
            });
            GetTendencyJson();
            GetTendencySummary();
        });

        function GetData() {
            GetTendencyJson();
            GetTendencySummary();
        }

        function growUpwhereTimeButtonClick(obj) {
            var value = obj.value;
            if (value == "return") {
                $(".tendencyWhere .btn-group").show().filter(".page-where-othertime").hide();
            } else {
                $(obj).parent().find(".btn-select").removeClass("btn-select");
                $(obj).addClass("btn-select");
                if (value == "other") {
                    $(".tendencyWhere .btn-group").hide().filter(".page-where-othertime").show();
                } else {
                    GetTendencyJson();
                    GetTendencySummary();
                }
            }
        }


        var myChart = echarts.init(document.getElementById('growUpflashcontenttd'));

        var option = {
            color:
            [
                '#87cefa', '#ff7f50', '#da70d6', '#32cd32', '#6495ed',
                '#ff69b4', '#ba55d3', '#cd5c5c', '#ffa500', '#40e0d0',
                '#1e90ff', '#ff6347', '#7b68ee', '#00fa9a', '#ffd700',
                '#6b8e23', '#ff00ff', '#3cb371', '#b8860b', '#30e0e0'
            ],
            title: {
                text: '平台趋势',
                textAlign: "center",
                x: "center"
            },
            tooltip: {
                show: true,
                //trigger: 'axis',
                //axisPointer: {
                //    show: true,
                //    type: 'cross',
                //    lineStyle: {
                //        type: 'dashed',
                //        width: 1
                //    }
                //},
                //trigger: 'axis',
                formatter: function(params) {
                    //console.log(params);
                    var html = "";
                    html += "" + params[1] + "</br>" + params[0] + ":" + Number(params[2]);
                    //console.log(loginNum);
                    //console.log(activeNum);
                    //if (params[0] != "平均在线时长数量") {
                    //    $.each(loginNum, function (i, n) {
                    //        if (html.indexOf("登录用户") > 0) {
                    //            return false;
                    //        }
                    //        if (n.date == params[1]) {
                    //            if (n.value != 0) {
                    //                html += "</br>登录用户：" + n.value + "(" + parseFloat(params[2] / n.value).toFixed(2) + ")";
                    //            } else {
                    //                html += "</br>登录用户：" + n.value + "(0%)";
                    //            }

                    //        }
                    //    });
                    //    $.each(activeNum, function (i, n) {
                    //        if (html.indexOf("活跃用户") > 0) {
                    //            return false;
                    //        }
                    //        if (n.date == params[1]) {
                    //            if (n.value != 0) {
                    //                html += "</br>活跃用户：" + n.value + "(" + parseFloat(params[2] / n.value).toFixed(2) + ")";
                    //            } else {
                    //                html += "</br>活跃用户：" + n.value + "(0%)";
                    //            }
                    //        }

                    //    });
                    //}
                    return html;
                }
            },
            legend: {
                data: [
                    '暂无数据'
                ],
                y: "bottom"
            },
            toolbox: {
                show: true,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            dataZoom: { show: true, realtime: true, y: 36, height: 20, start: 0, end: 100 },
            calculable: false,
            grid: { y: 60, y2: 70, x2: 20 },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    axisLine: { show: true }, //坐标轴线
                    axisTick: { show: true }, //坐标轴小标记
                    axisLabel: { show: true }, //坐标轴文本标签
                    splitArea: { show: false }, //分隔区域
                    splitLine: { show: true }, //分隔线
                    data: ['0', '0', '0', '0', '0', '0', '0']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '暂无数据',
                    type: 'line',
                    symbol: 'Circle',
                    data: [0, 0, 0, 0, 0, 0, 0]
                }
            ]
        };


        // 为echarts对象加载数据
        myChart.setOption(option);
    </script>
}






