
@{
    ViewBag.Title = "微信公众平台反馈";
}

@section Style{
    @Styles.Render("~/style/form")
}

<div class="panel">
    <div class="panel-heading page-where weixinFeedbackWhere">
        <div class="panel-title">
            <input type="hidden" id="timeType" value="" name="timePeriod" />
            <div class="btn-group page-where-othertime" style="float: left; margin-right: 10px">
                <div class="page-where-time-input">
                    <div class="input-daterange input-group">
                        <input type="text" class="input-sm form-control" placeholder="开始时间" name="start">
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" placeholder="结束时间" name="end">
                    </div>
                </div>
            </div>

            <div style="float: left; margin-right: 10px; width: 80px">
                <input class="form-control" type="text" placeholder="店铺ID" name="accId" id="accId">
            </div>
            @*<div style="float: left; margin-right: 10px; width: 120px">
                    <input class="form-control" type="text" placeholder="业务名称" name="busName" id="busName">
                </div>
                <div style="float: left; margin-right: 10px; width: 80px">
                    <input class="form-control" type="text" placeholder="备注" name="remark" id="remark">
                </div>*@
            <button type="button" value="select" class="btn btn-default btn-inquire" onclick="GetNewList()">查询</button>
            <div class="clearfix"></div>
        </div>
    </div>

    <div id="summary" class="col-md-12 col-sm-12 col-xs-12" style="margin: 10px">

    </div>

    <div class="panel-body no-padding">
        <div class="table-responsive">
            <table class="table table-hover table-detailed dataTable" id="ListTable">
                <thead>
                    <tr>
                        <th width="60" class="text-center">店铺ID</th>
                        <th width="15%">店铺名称</th>
                        <th>反馈内容</th>
                        <th width="120" class="text-center">反馈时间</th>
                        <th width="80" class="text-center">关键字</th>
                        <th class="text-center">微信OpenID</th>
                        @*<th width="30" class="text-center">来源</th>*@
                        @*<th class="text-center">支付类型</th>
                            <th class="text-center">支付金额</th>
                            <th class="text-center">购买时间</th>*@
                        @*<th class="text-center">操作</th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="dataTables_wrapper m-t-10" id="ListPageHtml">
                <div class="dataTables_paginate pagination no-padding">
                    <ul>
                        <li class="prev disabled">
                            <a href="javascript:void(0)">
                                <i class="pg-arrow_left"></i>
                            </a>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0)">1</a>
                        </li>
                        <li class="next disabled">
                            <a href="javascript:void(0)">
                                <i class="pg-arrow_right">
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="dataTablePagText p-l-20"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="ListTableScript">
    {{if list!=null && list!=""}}
    {{each list}}
    <tr>
        <td class="v-align-middle text-center">{{$value.accId}}</td>
        <td>
            <a href="/shopinfo/index/{{$value.accId}}" tar target="_blank">{{$value.CompanyName}}</a>
        </td>

        <td>
            <p>{{$value.msgContent}}</p>
        </td>

        <td class="v-align-middle text-center">{{$value.createTime}}</td>

        <td class="v-align-middle text-center">{{$value.msgKey}}</td>


        <td class="v-align-middle text-center">{{$value.wxOpenId}}</td>

        @*<td class="v-align-middle text-center">
                <a href="/shopinfo/index/{{$value.accountid}}?td={{$value.id}}" target="_blank">回访</a>
            </td>*@
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td colspan="6" class="v-align-middle text-center">
            可能这段时间没有数据
        </td>
    </tr>
    {{/if}}
</script>

@section Scripts{
    @Scripts.Render("~/js/begin/form")
    <script src="~/Scripts/plugins/artTemplate/template.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.weixinFeedbackWhere .input-daterange').datepicker({ format: 'yyyy-mm-dd' });
            GetWeiXinFeedbackList(1);
            //GetSummary();
        });

        function GetWeiXinFeedbackList(pageIndex) {
            var postJson = {};
            postJson["pageIndex"] = pageIndex;

            //var visitStatus = $("#visitStatus").val();
            //var feedType = $("#feedType").val();

            var statTime = $(".weixinFeedbackWhere input[name='start']").val();
            var endTime = $(".weixinFeedbackWhere input[name='end']").val();

            var stDate = new Date();
            var edDate = new Date();
            if (statTime.length === 0 && endTime.length === 0) {
                postJson["start"] = stDate.toLocaleDateString();
                postJson["end"] = edDate.toLocaleDateString(-1);
            } else {
                if (statTime.length > 0) {
                    postJson["start"] = statTime;
                } else {
                    postJson["start"] = stDate.toLocaleDateString();
                }
                if (endTime.length > 0) {
                    postJson["end"] = endTime;
                } else {
                    postJson["end"] = edDate.toLocaleDateString();
                }
            }

            //var content = $("#content").val();
            var accId = $("#accId").val();
            if (accId.length <= 0) {
                accId = 0;
            }
            //var busName = $("#busName").val();
            //var remark = $("#remark").val();

            //postJson["transactionStatus"] = transactionStatus;
            //postJson["orderStatus"] = orderStatus;
            //postJson["payType"] = payType;
            //postJson["accId"] = accId;
            //postJson["visitStatus"] = visitStatus;
            //postJson["feedType"] = feedType;
            //postJson["content"] = content;
            postJson["accId"] = accId;

            var url = "/PlatformVisit/GetWeixinFeedBack";

            $.doAjax(url, postJson, function (msg) {
                if (msg != "" && msg != null) {
                    var json = jQuery.parseJSON(msg);
                    if (json == null) {
                        return false;
                    }
                    $("#ListTable tbody").html(template("ListTableScript", { "list": jQuery.parseJSON(json.listData) }));

                    if (pageIndex == 1) {
                        $("#ListPageHtml").attr("rowcount", parseInt(json.rowCount)).attr("maxpage", parseInt(json.maxPage));
                        $("#ListPageHtml .dataTablePagText").html("共" + parseInt(json.rowCount) + "条");
                    }
                    var pageHtml = $.listPageHtml(pageIndex, $("#ListPageHtml").attr("maxpage"), "GetWeiXinFeedbackList", 5);
                    $("#ListPageHtml .dataTables_paginate").html(pageHtml);
                }
            }, true);
        }

        function GetNewList() {
            GetWeiXinFeedbackList(1);
            //GetSummary();
        }
    </script>

}
