@{
    ViewBag.Title = "消息发送批次列表";
}

<link href="~/Scripts/plugins/qtip/jquery.qtip.min.css" rel="stylesheet" />

<div class="panel">
    <div class="panel-heading page-where batch">
        <div class="panel-title">
            <div class="cs-wrapper pull-left m-r-10">

                <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" name="sourceType" id="sourceType">
                    <option value="-99">发送类型</option>
                    @*<option value="0">平台订单</option>*@
                    <option value="1">手填</option>
                    <option value="2">筛选器</option>
                    @*<option value="3">财付通</option>*@
                    @*<option value="4">快钱</option>*@
                    <option value="3">系统自动</option>
                    <option value="4">触发事件</option>
                </select>

            </div>

            <div class="cs-wrapper pull-left m-r-10">

                <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" name="channel" id="channel">
                    <option value="-99">发送渠道</option>
                    <option value="1">短信</option>
                    <option value="2">站内消息</option>
                    <option value="3">移动端</option>
                    <option value="4">邮件</option>
                </select>

            </div>
            
            <input type="hidden" id="timeType" value="" name="timePeriod" />
            <div class="btn-group page-where-othertime" style="float: left; margin-right: 10px">
                <div class="page-where-time-input">
                    <div class="input-daterange input-group">
                        <input type="text" class="input-sm form-control" placeholder="开始时间" name="start">
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" placeholder="结束时间" name="end">
                    </div>
                </div>
            </div>
            <div style="float: left; margin-right: 10px; width: 120px">
                <input class="form-control" type="text" placeholder="批次Id" name="batchId" id="batchId">

            </div>
            <div style="float: left; margin-right: 10px; width: 80px">
                <input class="form-control" type="text" placeholder="发送说明" name="remark" id="remark">
            </div>
            <div style="float: left; margin-right: 10px; width: 120px">
                <input class="form-control" type="text" placeholder="发送内容" name="content" id="content">
            </div>

            <button type="button" value="select" class="btn btn-default btn-inquire" onclick=" GetBatchList(1) ">查询</button>

            <div class="clearfix"></div>
        </div>
    </div>
    <input type="hidden" name="" value="@ViewBag.batch" id="batch"/>
    <input type="hidden" name="" value="@ViewBag.auth" id="sendAuth" />
    
    <input type="hidden" name="refreshBatch" value="" id="refreshBatch"/>
    <input type="hidden" name="refreshChannel" value="" id="refreshChannel" />

    <div class="panel-body no-padding">
        <div class="table-responsive" id="batchList">
            <table class="table table-hover table-condensed  no-footer">
                <thead>
                    <tr>
                        @*<th class="text-center">批次编号</th>*@
                        <th class="text-center" style="width: 45px">方式</th>
                        <th class="text-center" style="width: 120px">渠道</th>
                        <th class="text-center" style="width: 250px">发送说明</th>
                        <th class="text-center" style="width: 350px">标题</th>
                        @*<th class="text-center" style="width: 400px">内容摘要</th>*@

                        <th class="text-center" style="width: 180px">状态</th>
                        @*<th class="text-center" style="width: 80px">到达</th>
                        <th class="text-center" style="width: 80px">已读</th>*@
                        <th class="text-center" style="width: 120px">创建时间</th>
                        @*<th class="text-center" style="width: 120px">发送状态</th>*@


                        <th class="text-center" style="width: 120px">操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="dataTables_wrapper" id="ListPageHtml">
                <div class="dataTables_paginate pagination pull-right">
                    <ul><li class="prev disabled"><a href="javascript:void(0)"><i class="pg-arrow_left"></i></a></li><li class="active"><a href="javascript:void(0)">1</a></li><li class="next disabled"><a href="javascript:void(0)"><i class="pg-arrow_right"></i></a></li></ul>
                </div>
                <div class="dataTablePagText m-l-30"></div>
            </div>
            <input type="hidden" id="pageIndex" value="" />
        </div>
    </div>
</div>

<script type="text/html" id="BatchListScript">
    {{if data.length < 1 }}
    <tr><td colspan="11" class="DataNull">没有找到消息发送数据</td></tr>
    {{/if}}
    {{each data}}
    <tr rel="{{$value.BatchId}}_{{$value.ChannelId}}">
        @*<td align="center">
                <span title="{{$value.BatchId}}">{{$value.BatchId | batchIdFormat}}</span>
            </td>*@
        {{if $value.SourceType!=3}}
        <td align="center">
            <img alt="人工" title="{{$value.OperatorName}}" style="width: 20px" src="../img/SourceIcon/unknow.png" />
        </td>
        {{else}}
        <td align="center">
            <img alt="系统" title="系统" style="width: 20px" src="../img/SourceIcon/windows.png" />
        </td>
        {{/if}}

        {{if $value.ChannelId==1}}
        <td align="center">
            <span>短信</span>
        </td>
        {{else if $value.ChannelId==2}}
        <td align="center">
            <span>站内消息</span>
        </td>
        {{else if $value.ChannelId==3}}
        <td align="center">
            <span>移动端</span>
        </td>
        {{else if $value.ChannelId==4}}
        <td align="center">
            <span>邮件</span>
        </td>
        {{/if}}

        <td align="center">
            <span title="{{$value.Remark}}">{{$value.Remark}}</span>
        </td>

        {{if $value.ChannelId==1}}
        <td align="center" >
            <span rel="{{$value.Content}}" style="cursor:pointer" class="msgContent">无标题</span>
        </td>
        {{else}}
        <td align="center" >
            <span rel="{{$value.Content}}" style="cursor:pointer" class="msgContent">{{$value.Title}}</span>
        </td>
        {{/if}}
        @*<td align="center">
                <span title="{{$value.Content}}">{{$value.Content}}</span>
            </td>*@

        {{if $value.SendingStatus==0 && ($value.SendId=='' || $value.SendId==null)}}
        <td align="center" style="color: gray">
            <span style="width: 80px">{{$value.AccIdCount}}个用户，等待发送</span>
        </td>
        {{else}}
        <td align="center">
            <span style="width: 80px"><span style="color: orangered">{{$value.FeedBackArrive}}</span> / <span style="color: green">{{$value.FeedBackOpen}}  <span style="color: purple;font-size: 12px">({{$value.OpenRatio}})</span></span></span>

        </td>
        {{/if}}

        <td align="center">
            <span title="{{$value.CreateTime}}" style="width: 120px">{{$value.CreateTime | dateFormat}}</span>
        </td>
        @*{{if $value.SendingStatus==0 && ($value.SendId=='' || $value.SendId==null)}}
            <td align="center">
                <span style="width: 120px">未发送</span>
            </td>
            {{else}}
            <td align="center">
                <span style="color: forestgreen;width: 120px">已提交</span>
            </td>
            {{/if}}*@

        {{if $value.SendingStatus==1}}

        <td align="center">
            <span style="color: green; cursor: pointer" onclick="ShowBatchDetail('{{$value.BatchId}}', '{{$value.ChannelId}}')">详情</span>
            <span> | </span>
            <span style="color: green; cursor: pointer" onclick="RefreshStatus('{{$value.BatchId}}', '{{$value.ChannelId}}')">刷新</span>
        </td>


        {{else}}
        <td align="center">
            <span style="color: green; cursor: pointer" onclick="ShowBatchDetail('{{$value.BatchId}}', '{{$value.ChannelId}}')">详情</span>

            {{if ($value.SendId==0 || $value.SendId==null || $value.SendId=='') && $value.SendId!='err'}}
            <span class="sendM"> | </span>
            <span class="sendM" style="color: red; cursor: pointer" onclick="SendBatchMsg('{{$value.BatchId}}', '{{$value.ChannelId}}')">发送</span>
            {{else}}
            <span> | </span>
            <span style="color: green; cursor: pointer" onclick="RefreshStatus('{{$value.BatchId}}', '{{$value.ChannelId}}','{{$value.SendId}}')">刷新</span>
            {{/if}}
        </td>
        {{/if}}
    </tr>
    {{/each}}
</script>


@section Scripts{
    @Scripts.Render("~/js/begin/form")
    <script src="~/Scripts/plugins/artTemplate/template.js"></script>
<script src="~/Scripts/plugins/qtip/jquery.qtip.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.batch .input-daterange').datepicker({ format: 'yyyy-mm-dd' });
            GetBatchList(1);
        });

        function GetBatchList(page) {
            var url = "/MessageSending/GetBatchList";
            var postJson = {};

            postJson["pageIndex"] = page;
            var channel = $("#channel").val();
            var sourceType = $("#sourceType").val();

            var statTime = $(".batch input[name='start']").val();
            var endTime = $(".batch input[name='end']").val();

            var stDate = new Date();
            var edDate = new Date();
            if (statTime.length === 0 && endTime.length === 0) {
                postJson["stDate"] = stDate.toLocaleDateString();
                postJson["edDate"] = edDate.toLocaleDateString(-1);
            } else {
                if (statTime.length > 0) {
                    postJson["stDate"] = statTime;
                } else {
                    postJson["stDate"] = stDate.toLocaleDateString();
                }
                if (endTime.length > 0) {
                    postJson["edDate"] = endTime;
                } else {
                    postJson["edDate"] = edDate.toLocaleDateString();
                }
            }

            var batchId = "";
            if ($("#batch").val() != "") {
                batchId = $("#batch").val();
            } else {
                batchId = $("#batchId").val();
                $("#batch").val(batchId);
            }

            var remark = $("#remark").val();
            var content = $("#content").val();

            //, stDate, edDate, batchId, remark, content,
            //postJson["transactionStatus"] = transactionStatus;
            postJson["batchId"] = batchId;
            postJson["remark"] = remark;
            postJson["content"] = content;
            postJson["channel"] = channel;
            postJson["sourceType"] = sourceType;

            $.doAjax(url, postJson, function (msg) {
                if (msg != "null" && msg != "") {
                    var json = $.parseJSON(msg);

                    $("#batchList table tbody").html(template("BatchListScript", { "data": json.data }));

                    if (page == 1) {
                        $("#ListPageHtml").attr("rowcount", json.count).attr("maxpage", json.maxPage);
                        $("#ListPageHtml .dataTablePagText").html("共" + json.count + "条");
                    }
                    var pageHtml = $.listPageHtml(page, $("#ListPageHtml").attr("maxpage"), "GetBatchList", 5);
                    $("#pageIndex").val(page);
                    $("#ListPageHtml .dataTables_paginate").html(pageHtml);

                    ShowMsgListTips();

                    var refreshBatchId = $("#refreshBatch").val();
                    var refreshChannelId = $("#refreshChannel").val();

                    if (refreshBatchId != "" && refreshChannelId != "") {
                        $("tr[rel='" + refreshBatchId + "_" + refreshChannelId + "']").css('border', '2px solid red');
                    }

                    if ($("#sendAuth").val()==1) {
                        $(".sendM").removeClass("hidden");
                    } else {
                        $(".sendM").addClass("hidden");
                    }
                }
            }, true);
        }

        function ShowBatchDetail(batchId, channelId) {
            window.open("/messagesending/Detail?batch=" + batchId + "&channel=" + channelId);
        }

        function SendBatchMsg(batchId, channelId) {
            var url = "/MessageSending/SendMessage";
            var postJson = {};

            postJson["batchId"] = batchId;
            postJson["channelId"] = channelId;

            $.doAjax(url, postJson, function (msg) {
                if (msg == "0") {
                    alert("发送成功!");
                    location.reload();
                } else {
                    alert("发送失败!");
                    location.reload();
                }
            }, true);

        }

        function RefreshStatus(batchId, channelId, sendId) {
            var url = "/MessageSending/RefreshStatus";
            var postJson = {};

            postJson["batchId"] = batchId;
            postJson["channelId"] = channelId;
            postJson["sendId"] = sendId;

            $.doAjax(url, postJson, function (msg) {
                if (msg == "1") {
                    alert("刷新成功!");
                    location.reload();

                    $("#refreshBatch").val(batchId);
                    $("#refreshChannel").val(channelId);
                } else if (msg == "0") {
                    alert("接口出错!");
                    location.reload();
                } else {
                    console.log(msg);
                    alert("暂无刷新信息!");
                    
                    location.reload();
                }
            }, true);

        }

        function ShowMsgListTips() {
            $(".msgContent").qtip({
                content: {
                    attr: 'rel'
                },
                position: {
                    my: 'left center',
                    at: 'right center'
                },
                show: {
                    solo: true
                },
                style: {
                    classes: 'ui-tooltip-shadow ui-tooltip-light'
                }

            });
        }

        template.helper('batchIdFormat', function (data) {
            return data.toString().substr(0, 8);
        });

        template.helper('dateFormat', function (data) {
            return data.toString().substr(0, 10);
        });
    </script>
}

