
@{
    ViewBag.Title = "代理商列表";
}

<div class="row column-seperation m-t-20 bg-white" id="agentList">
    <table class="table table-hover table-condensed  no-footer">
        <thead>
            <tr>
                <th class="text-center" style="width: 120px">代理商编号</th>
                <th class="text-center">姓名</th>
                <th class="text-center">等级</th>
                <th class="text-center">电话</th>
                <th class="text-center">地址</th>
                <th class="text-center">身份证</th>
                <th class="text-center">固话</th>
                <th class="text-center">电子邮件</th>
                <th class="text-center">QQ</th>
                <th class="text-center">状态</th>
                <th class="text-center">常用分组</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="dataTables_wrapper" id="ListPageHtml">
        <div class="dataTables_paginate pagination pull-right">
            <ul><li class="prev disabled"><a href="javascript:void(0)"><i class="pg-arrow_left"></i></a></li><li class="active"><a href="javascript:void(0)">1</a></li><li class="next disabled"><a href="javascript:void(0)"><i class="pg-arrow_right"></i></a></li></ul>
        </div>
        <div class="dataTablePagText m-l-30"></div>
    </div>
    <input type="hidden" id="pageIndex" value="" />
</div>

<script type="text/html" id="agentListScript">
    {{if data.length < 1 }}
    <tr><td colspan="10" class="DataNull">没有找到代理商数据</td></tr>
    {{/if}}
    {{each data}}
    <tr>
        <td align="center" style="width: 120px">
            <span>{{$value.AgentId}}</span>
        </td>
        <td align="center">
            <a href="/Agent/AgentDetail/{{$value.ID}}">{{$value.AgentName}}</a>
        </td>
        <td align="center">
            <span>{{$value.AgentGrade}}</span>
        </td>
        <td align="center">
            <span>{{$value.AgentPhone}}</span>
        </td>
        <td align="center">
            <span>{{$value.AgentAddress}}</span>
        </td>
        <td align="center">
            <span>{{$value.AgentIdCard}}</span>
        </td>
        <td align="center">
            <span>{{$value.AgentNumber}}</span>
        </td>
        <td align="center">
            <span>{{$value.AgentEmail}}</span>
        </td>
        <td align="center">
            <span>{{$value.AgentQQ}}</span>
        </td>
        {{if $value.activeStatus==1}}
        <td align="center">
            <span style="color: green; cursor: pointer" onclick="ChangeStatus(0, '{{$value.ID}}')">有效</span>
        </td>
        {{else}}
        <td align="center">
            <span style="color: red; cursor: pointer" onclick="ChangeStatus(1, '{{$value.ID}}')">无效</span>
        </td>
        {{/if}}

        {{if $value.AgentGroup==1}}
        <td align="center">
            <span style="color:green;cursor: pointer" onclick="ChangeGroup(0, '{{$value.ID}}')">移出分组</span>
        </td>
        {{else}}
        <td align="center">
            <span style="color:red;cursor: pointer" onclick="ChangeGroup(1, '{{$value.ID}}')">添加到常用分组</span>
        </td>
        {{/if}}
    </tr>
    {{/each}}
</script>


@section Scripts{
    @Scripts.Render("~/js/begin/form")
    <script src="~/Scripts/plugins/artTemplate/template.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            GetAgentList(1);
        });

        function GetAgentList(page) {
            var url = "/Agent/GetAgentList";
            var postJson = {};
            postJson["pageIndex"] = page;

            $.doAjax(url, postJson, function(msg) {
                if (msg != "null" && msg != "") {
                    var json = $.parseJSON(msg);

                    $("#agentList table tbody").html(template("agentListScript", { "data": json.list }));

                    if (page == 1) {
                        $("#ListPageHtml").attr("rowcount", json.rowCount).attr("maxpage", json.maxPage);
                        $("#ListPageHtml .dataTablePagText").html("共" + json.rowCount + "条");
                    }
                    var pageHtml = $.listPageHtml(page, $("#ListPageHtml").attr("maxpage"), "GetAgentList", 5);
                    $("#pageIndex").val(page);
                    $("#ListPageHtml .dataTables_paginate").html(pageHtml);
                }
            }, true);
        }

        function ChangeStatus(stat, id) {
            var url = "/Agent/ChangeStatus";
            var postJson = {};
            postJson["curStat"] = stat;
            postJson["id"] = id;

            $.doAjax(url, postJson, function(msg) {
                if (msg != "1") {
                    alert("更新失败！");
                } else {
                    alert("更新成功！");
                    GetAgentList($("#pageIndex").val());
                }
            }, true);
        }

        function ChangeGroup(stat, id) {
            var url = "/Agent/ChangeGroup";
            var postJson = {};
            postJson["curStat"] = stat;
            postJson["id"] = id;

            $.doAjax(url, postJson, function (msg) {
                if (msg != "1") {
                    alert("更新失败！");
                } else {
                    alert("更新成功！");
                    GetAgentList($("#pageIndex").val());
                }
            }, true);
        }

    </script>
}